.clavier-piano {
  display: inline-block;
  background-color: #1F1C0D;
  padding: 10px;
}

.clavier-body {
  position: relative;
}

.clavier-piano .whitekey {
  float: left;
  background-color: #F4F4F4;
  border: 1px solid #626262;
  border-radius: 0 0 5px 5px;
}

.clavier-piano .blackkey {
  float: left;
  background-color: #000000;
  position: absolute;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 -3px 4 3px #303030 inset, 0 -5 #F7F7F7 inset;
}

.clavier-piano .velvet {
  background-color: #9C0413;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
}

.clavier-piano .pressed {
  box-shadow: inset 0 0 7px 1px #626262;
}

.clavier-piano .blackkey.pressed {
  background-color: #222222;
}

.clavier-piano .whitekey.pressed {
  background-color: #E2E2E2;
}

